<section class="slider_section ">
    <div class="slider_bg_box">
       <img src="assets/images/slider-bg.jpg" alt="">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                            Sale 20% Off
                            </span>
                            <br>
                            On Everything
                         </h1>

                         <div class="btn-box">
                            <a href="" class="btn1">
                            Shop Now
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item ">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                            Sale 20% Off
                            </span>
                            <br>
                            On Everything
                         </h1>

                         <div class="btn-box">
                            <a href="" class="btn1">
                            Shop Now
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                            Sale 20% Off
                            </span>
                            <br>
                            On Everything
                         </h1>
                         <div class="btn-box">
                            <a href="" class="btn1">
                            Shop Now
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="container">
          <ol class="carousel-indicators">
             <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
             <li data-target="#customCarousel1" data-slide-to="1"></li>
             <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
       </div>
    </div>
 </section>
 <!-- <section class="arrival_section">
        <div class="container">
            <div class="box">
               <div class="arrival_bg_box">
                  <img src="assets/images/arrival-bg.png" alt="">
               </div>
               <div class="row">
                  <div class="col-md-6 ml-auto">
                     <div class="heading_container remove_line_bt">
                        <h2>
                           #NewArrivals
                        </h2>
                     </div>
                     <div *ngFor="let item of products.slice(0,1)">
                        <img [src]="item.fileName" alt="" height="200px"><br>
                     </div>
                     <a href="">
                     Shop Now
                     </a>
                  </div>
               </div>
            </div>
        </div>
    </section> -->
    <section class="product_section layout_padding" id="Products">
        <div class="container">
           <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of products">
                 <div class="box">
                    <div class="option_container">
                       <div class="options">
                          <a (click)="addToCart(item._id,(item.price*0.80).toFixed(2))" class="option2">
                          Buy Now
                          </a>
                       </div>
                    </div>
                    <div class="img-box">
                       <img [src]="item.fileName" alt="">
                    </div>
                    <div class="detail-box">
                       <h5>
                          {{item.name}}
                       </h5>
                       <h6>
                          ${{(item.price*0.80).toFixed(2)}}
                          <div class="original">
                             <s>${{item.price}}</s>
                          </div>
                       </h6>
                    </div>
                 </div>
              </div>
           </div>
           <!-- <div class="btn-box">
              <a href="">
              View All products
              </a>
           </div> -->
        </div>
     </section>