.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .sub_page .hero_area {
    min-height: auto;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  }
  
  .header_section {
      padding: 15px 0;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .navbar-brand {
    font-family: 'Playfair Display', serif;
  }
  
  .navbar-brand span {
    font-weight: bold;
    font-size: 32px;
    color: #000000;
  }
  
  .custom_nav-container {
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav {
    margin-left: auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
      padding: 5px 20px;
      color: #131313;
      text-align: center;
      text-transform: uppercase;
      border-radius: 5px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      font-weight: 700;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link svg {
    width: 17px;
    height: auto;
    fill: #000000;
    margin-bottom: 2px;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #f7444e;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link svg, .custom_nav-container .navbar-nav .nav-item.active .nav-link svg {
    fill: #f7444e;
  }
  
  .custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #000000;
  }
  
  .custom_nav-container .nav_search-btn:hover {
    color: #f7444e;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  .profile-dropdown {
    display: inline-block;
    position: relative;
    background: #f2f2f2;
    margin: auto;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 3updateProfilepx;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
  .profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
  .profile-dropdown input[type="checkbox"] {
    display: none;
 }
  .profile-dropdown input[type="checkbox"]:checked ~ ul {
    display: block;
    animation: pulse 0.5s;
 }
  .profile-dropdown input[type="checkbox"]:checked ~ img {
    background: orange;
 }
  .profile-dropdown input[type="checkbox"]:checked ~ label {
    background: orange;
 }
  .profile-dropdown input[type="checkbox"]:checked ~ label i {
    color: #f2f2f2;
 }
  .profile-dropdown input[type="checkbox"]:checked ~ label:after {
    content: '';
    position: absolute;
    top: 100%;
    right: calc(50% - 10px);
    display: block;
    border-style: solid;
    border-width: 7px 10px 0 10px;
    border-color: orange transparent transparent transparent;
    width: 0;
    height: 0;
 }
  .profile-dropdown img {
    display: inline-block;
    background: #d9d9d9;
    height: 2.5rem;
    vertical-align: middle;
    margin-right: 1rem;
    border-radius: 50%;
 }
  .profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    width: 125px;
    margin-right: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
  .profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-radius: 3px;
 }
  .profile-dropdown ul li a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: #737373;
    font-size: 1rem;
 }
  .profile-dropdown ul li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 0.75rem 0 -0.25rem;
 }
  .profile-dropdown ul li a:hover {
    background: #e5e5e5;
 }
  .profile-dropdown ul li:first-child a:hover {
    border-radius: 3px 3px 0 0;
 }
  .profile-dropdown ul li:last-child a:hover {
    border-radius: 0 0 3px 3px;
 }
  .profile-dropdown > label {
    position: relative;
    height: 3.5rem;
    display: block;
    text-decoration: none;
    background: transparent;
    color: #333;
    box-sizing: border-box;
    padding: 0.9rem;
    float: right;
    border-radius: 0 3px 3px 0;
 }
  .profile-dropdown > label i {
    color: #b2b2b2;
    font-size: 1.75rem;
 }
  .profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
 }
  body {
    background: #2c3e50;
    font-family: Lato;
 }
  h1 {
    text-align: center;
    font-size: 3rem;
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    margin: 2rem 0 0;
    letter-spacing: 0.5rem;
 }
  .container {
    width: 80%;
 }
  .container .half {
    width: 50%;
    float: left;
    margin-bottom: 2rem;
 }
  .container:after {
    content: '';
    display: table;
    clear: both;
 }
  p.subtitle {
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0 2rem;
    letter-spacing: 0.1rem;
 }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    z-index: -1;
    background: url(https://ar1web-com.googlecode.com/svn/Bg/bg63.gif);
 }
  
  